node_modules/
package-lock.json
.env

dist/

.DS_Store

npm-debug.log*

*.pem
*.zip
.ebignore
00_change_npm_permissions.config
# Elastic Beanstalk Files
.elasticbeanstalk
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
